.card {
  border: 5px;
  height: 100%;
  min-height: 240px;
  max-height: 320px;
  min-width: 160px;
  max-width: 240px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
  cursor: pointer;
  border: none;
}

.card:hover {
  box-shadow: 0px 5px 15px 0 rgba(0,0,0,0.15);
  transform: translateY(-4px);
}