button {
  cursor: pointer;
}

.mr-med{
  margin-right: 10%;
}

.ml-med{
  margin-left: 10%;
}

.mr-small{
  margin-right: 5%;
}

.mr-xs{
  margin-right: 12px;
}

.ml-small{
  margin-left: 5%;
}

.mt-small{
  margin-top: 5%;
}

.mb-small{
  margin-bottom: 5%;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.one-hundred-percent-height {
  height: 100%;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.border-0 {
  border: 0 !important;
}

.ripple {
  background-color: #29a34e;
  background-position: center;
  transition: background 0.8s;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.ripple:hover {
  background: #1f7a3b radial-gradient(circle, transparent 1%, #1f7a3b 1%) center/15000%;
}

.text-white {
  color: #fff;
}

.font-bold {
  font-weight: 800;
}

.font-small {
  font-size: 14px;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.mb-1 {
  margin-bottom: 24px;
}

.pt-1 {
  padding-top: 24px;
}

.pb-1 {
  padding-bottom: 24px;
}

.m-0 {
  margin: 0 !important;
}

.width-75 {
  width: 75%;
}

.width-25 {
  width: 25%;
}

.height-35 {
  width: 75%;
}

.height-m {
  height: 24px
}

.height-32 {
  height: 32px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}